.footer {
  background-color: #f8f8f8;
  padding: 3rem;
  font-size: 0.9rem;
  color: #888888;
}

.footer-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
}

.footer-col {
  display: flex;
  flex-direction: column;
  min-width: 150px;
}

.footer-col a, .footer-col Link {
  margin-bottom: 0.5rem;
  text-decoration: none;
  color: #444;
}

.footer-col a:hover {
  text-decoration: underline;
}

.footer-col.subscribe input {
  margin-top: 0.5rem;
  padding: 0.5rem;
  width: 100%;
  border: none;
}

.footer-bottom {
  margin-top: 2rem;
  font-size: 0.8rem;
  text-align: left;
}

.footer-description {
  margin-top: 1rem;
  max-width: 600px;
}
