.nav-style{
    position: sticky;
}

.nav-style-left, .nav-style-rigth{
    display:flex; 
    list-style-type: none;
    align-items:center;
    width: 100%;
    gap:18px;
    margin-left: 40px;
    margin-right: 40px;
    list-style: none;
}

.nav-style-left{
    justify-content: flex-start;
}

.nav-style-rigth{
    justify-content: flex-end;
}

.nav-style-left > li{
    padding: 20px;
}

.nav-style-rigth > li{
    padding: 20px;
}

/* .nav-style > li:nth-child(1),
.nav-style > li:nth-child(2){
    display: flex;
    justify-content: flex-start;
}

.nav-style > li:nth-child(4),
.nav-style > li:nth-child(5),
.nav-style > li:nth-child(6){
    display: flex;
    justify-content: flex-end;
} */

.logo-img {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex: 0 0 auto; Non si espande né si comprime */
}

.logo-img img {
    height: 100%; /* O 3rem, dipende dall'altezza della navbar */
    object-fit:cover;
    object-position: center;
    display: block;
    width: 100%;
    padding: 10;
    margin: 0;
}

.nav-link{
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
}

.nav-style:hover .nav-link{
    color: rgb(176, 176, 176); /* colore per tutti */
    transition: color 0.3s ease;
}

.nav-style .nav-link:hover {
    color: black; /* mantiene il colore originale solo su quello sotto il mouse */
    font-weight: 550;
}

@media (max-width: 768px){

    .nav-style-left,
    .logo-img,
    .nav-style-rigth{
        display: none;
    }
}