/* .sec-img-box > img{
    transition: opacity 0.4s ease-in-out;
} */

/* .sec-img-hover {
    opacity: 0;
    z-index: 100;
}

.sec-img-default{
    opacity: 1;
    z-index: 1;
}

.sec-img-box:hover .sec-img-hover {
    opacity: 1;
}

.sec-img-box:hover .sec-img-default {
    opacity: 0;
} */

/* transizione link */
.sec-link{
    transition: color 0.3s ease;
    cursor: pointer;
}

.category-box-sec:hover .sec-link{
    color: rgb(176, 176, 176); /* colore per tutti */
    transition: color 0.3s ease;
}

.category-box-sec .sec-link:hover {
    color: black; /* mantiene il colore originale solo su quello sotto il mouse */
}