desyra/back_end_desyra/env_linux
desyra/back_end_desyra/env_windows
desyra/front_end_desyra/node_modules
desyra/front_end_desyra/src/assets
C:\Users\rikko\Desktop\project_desyra\desyra\back_end_desyra\.venv
__pycache__
jet_bridge_store.*
None