altgraph==0.17.4
asgiref==3.8.1
beautifulsoup4==4.12.3
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
cryptography==43.0.3
Django==5.2.3
django-cors-headers==4.7.0
django-filter==25.1
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
graphviz==0.20.3
idna==3.10
lxml==5.3.0
mysqlclient==2.2.7
packaging==24.2
pefile==2023.2.7
pycparser==2.22
pyinstaller==6.11.1
pyinstaller-hooks-contrib==2024.10
PyJWT==2.9.0
python-docx==1.1.2
pywin32-ctypes==0.2.3
requests==2.32.3
scapy==2.6.1
setuptools==75.4.0
soupsieve==2.6
sqlparse==0.5.3
typing_extensions==4.12.2
tzdata==2025.2
urllib3==2.2.3
python-dotenv==1.2.1
Pillow==12.0.0